
.main-container {
    background-color: rgb(41, 39, 39);
    padding-top: 30px;
}

.spinner-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refetch-spinner-wrapper {
    height: 80px;
    padding-top: 20px;
    margin: 0.1px 0;
}
